.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.inputs {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #76df49;
  box-shadow: 2px 2px 5px purple;
}

.inputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding-left: 10px;
}

.inputs button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: yellow;
  color: black;
  border-radius: 8px;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

.listOfFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.friend {
  width: 400px;
  height: 60px;
  background-color: rgb(49, 145, 5);
  color: white;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  display: flex;
}

.friend h3 {
  margin-left: 15px;
}
.friendContainer button {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  background-color: rgb(73, 197, 15);
  color: aliceblue;
}

#remove {
  border-left: none;
}
